@import "tailwindcss";

.background-1 {
  background-color: rgb(120, 140, 180); 
  background-attachment: fixed;
  background-image:
    linear-gradient(to right, 
      rgba(160, 164, 184, 0.65) 0%,
      rgba(140, 144, 164, 0.55) 25%,
      rgba(136, 144, 164, 0.45) 50%,
      rgba(140, 144, 164, 0.55) 75%,
      rgba(160, 164, 184, 0.65) 50%),
    radial-gradient(90% 60% at 10% 60%,  
      rgba(255, 170, 140, 0.4) 0%,
      rgba(255, 170, 140, 0) 80%),
    radial-gradient(140% 140% at 130% 150%, 
      rgb(120, 140, 200) 0%,
      rgb(90, 110, 180) 70%,
      rgba(90, 110, 180, 0) 95%),
    linear-gradient(130deg,
      rgba(255, 210, 180, 0.25) 0%,
      rgba(120, 140, 190, 0.2) 60%,
      rgba(70, 80, 140, 0.6) 65%),
    radial-gradient(50% 50% at 50% -10%, 
      rgb(200, 160, 255) 0%,
      rgba(200, 160, 255, 0) 50%),
    radial-gradient(30% 30% at 80% 10%, 
      rgb(130, 110, 200) 0%,
      rgba(130, 110, 200, 0) 90%);
  transition: opacity 3s ease-in-out;
}
